streamlit

# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
face-recognition
face-recognition-models

setuptools<70.0.0

# Database
supabase
bcrypt

# QR Code
segno

# Images
pillow

# Voice
librosa
resemblyzer
